body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}
.bg-image{
    background-image: url("https://res.cloudinary.com/herokupp4/image/upload/v1669666025/cool-background_1_yqjers.png");
}
.bg-orange{
    background-color: #ff8125;
}
.bg-blue{
    background-color: #00b0c7;
}
.link-nonline{
    text-decoration: none;
}
.text-orange{
    color: #ff8125;
}
.text-blue{
    color: #00b0c7;
}
.red-o {
    color: #E84610;
}
.requiredField{
    visibility: hidden;
}
.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}
.gallery{
    padding: 2rem;
}
.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}
/* 404 stile */
.errorMessage {
    color: #fff;
    font-size: 5em;
    font-weight: bold;
    text-shadow:
        0 1px 0 rgb(185, 117, 117),
        0 2px 0 #e81414,
        0 3px 0 rgba(220, 26, 26, 0.8),
        0 4px 0 #c48989,
        0 5px 0 rgb(210, 136, 136);
    text-align: center;
    padding: 2% 0;
    animation: colorAnimation 5s linear infinite;

}

.div404 {
    color: #fff;
    font-size: 8em;
    font-weight: bold;
    text-shadow:
        0 1px 0 rgb(185, 117, 117),
        0 2px 0 #e81414,
        0 3px 0 rgba(220, 26, 26, 0.8),
        0 4px 0 #c48989,
        0 5px 0 rgb(210, 136, 136);
    text-align: center;
    padding: 2% 0;
    animation: colorAnimation 5s linear infinite;
}

.title404 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    text-shadow:
        0 1px 0 rgb(185, 117, 117),
        0 2px 0 #35b835,
        0 3px 0 rgba(13, 121, 22, 0.8),
        0 4px 0 #a8684a,
        0 5px 0 #a05634;
    padding: 5% 0;
    animation: colorAnimation 5s linear infinite;

}


/* Hover classes */
/* .hvr-bounce-out,
.hvr-buzz{
    background-color: rgba(0, 128, 0, 0.158);
}

.hvr-pulse-grow{}
 */



/* Animations */
@keyframes colorAnimation {
    0% {
        color: white;
    }

    50% {
        color: black;
    }

    100% {
        color: white;
    }
}



