{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <h1 class="text-dark p-3 display-3 text-center">Contact Us</h1>
  <hr class="">
  <div class="col-md-12 p-0">
    <div id="formId" class="form_section">
      <h3 class="form-group w-100 text-center">
        To let us your opinion filling the form.
      </h3>
      <div class="row">
        <div class="col-sm card mb-4 mt-3">
          <form id="contact-form" class="mx-auto w-100 border-lg">
            <div>
              <div class="form-group w-100 pb-3 d-flex justify-content-center">
                <label for="user_name" class="text-white-50"> -</label>
                <input type="text" id="user_name" name="user_name" placeholder="Enter name" class="rounded">
              </div>
              <div class="form-group w-100 p-3 d-flex justify-content-center">
                <label for="user_email" class="text-white-50"> -</label>
                <input type="email" id="user_email" name="user_email" placeholder="Enter email" class="rounded">
              </div>
              <div class="form-group w-100 p-3 d-flex justify-content-center">
                <label for="message" class="text-white-50"> - </label>
                <textarea id="message" name="message" placeholder="Write te message " class="rounded"></textarea>
              </div>
              <div class="form-group w-100 p-3 d-flex justify-content-center">
                <input type="submit" class="w-50 hvr-shrink bg-orange rounded p-2 " value="Send">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}