{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h3 class="display-3 text-orange">Week</h3>
            </div>
        </div>
        <hr>
    </div>
    <!-- weeks Column -->
    <div class="col-16 mt-3 left">
        <div class="row">
            {% for day in day_list %}
            {% if day %}
            <div class="col-md-3">
                <div class="card mb-2 col-sm-10 w-100 h-100">
                    <div class="card-body">
                        <!-- reference to meals -->
                        <a href="{% url 'meals_list' day.slugday%}"
                            class="post-link hvr-float-shadow rounded bg-light text-dark">
                            <div class="image-container">
                                {% if day.day_name == 1 %}
                                <img class="card-img-top w-100 h-100"
                                    src="https://res.cloudinary.com/herokupp4/image/upload/v1663331255/cld-sample.jpg">
                                <div class="image-flash">
                                    <p class="author">Monday</p>
                                </div>
                                {% elif day.day_name == 2 %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/herokupp4/image/upload/v1663331256/cld-sample-2.jpg">
                                <div class="image-flash">
                                    <p class="author">Tuesday</p>
                                </div>
                                {% elif day.day_name == 3 %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/herokupp4/image/upload/v1663331257/cld-sample-4.jpg">
                                <div class="image-flash">
                                    <p class="author">Wednesday</p>
                                </div>
                                {% elif day.day_name == 4 %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/herokupp4/image/upload/v1663331230/sample.jpg">
                                <div class="image-flash">
                                    <p class="author">Thursday</p>
                                </div>
                                {% elif day.day_name == 5 %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/herokupp4/image/upload/v1668633636/vegetarian_food_tgx3od.jpg">
                                <div class="image-flash">
                                    <p class="author">Friday</p>
                                </div>
                                {% elif day.day_name == 6 %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/herokupp4/image/upload/v1668633859/vegsat.jpg">
                                <div class="image-flash">
                                    <p class="author">Saturday</p>
                                </div>
                                {% elif day.day_name == 7 %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/herokupp4/image/upload/v1668633956/sund.jpg">
                                <div class="image-flash">
                                    <p class="author">Sunday</p>
                                </div>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- for of week list -->
            {% endfor %}
            <div class="col-md-3">
                <div class="card mb-2">
                    <div class="card-body">
                        <a href="{% url 'meals_list' 'add' %}"
                            class="post-link hvr-float-shadow rounded bg-light text-dark ">
                            <div class="image-container">
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/herokupp4/image/upload/v1669158446/add.png">
                                <div class="image-flash">
                                    <p class="author">Add meal</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{%endblock%}