{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <div class="row">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3 text-dark text-center text-capitalize">{{slugday}} - Plan</h1>
            </div>
        </div>
        <hr>
    </div>

    <!-- meals Column -->
    <div class="col-12 mt-3 left">
        <div class="row">
            <!-- meals Lists -->
            {% if meals %}
            <ul class="list-group list-unstyled">
                {% for meal in meals %}
                <!-- list for -->
                {% if meal.owner == user %}
                {% if meal.day == slugday %}
                <li class="list-group-item d-flex justify-content-between align-items-center mx-auto display-8">
                    <div class="card-body ">
                        <div class="image-container ">
                            <h3 class=" text-dark text-capitalize bg-blue rounded text-center">{{ meal.title }}</h3>
                            <div class="d-none d-md-block col-md-6 p-3">
                                {% if "placeholder" in meal.featured_image.url %}
                                <img class="border rounded "
                                    src="https://res.cloudinary.com/herokupp4/image/upload/v1668633859/vegsat.jpg"
                                    alt="meal" width="100%">
                                {% else %}
                                <img class="border rounded" src="{{ meal.featured_image.url }}" width="100%" alt="meal">
                                {% endif %}
                            </div>

                        </div>
                        {% if user.is_authenticated %}
                        <p>{{meal.meal_description}}</p>
                        <form class="d-inline" action="{% url 'del_meal' slugday meal.id%}" method="POST">
                            {% csrf_token %}
                            <button type="submit" name="mealid" value="{{meal.id}}" class="btn-like text-dark">
                                <span class="text-white-50">-</span>
                                <ion-icon name="trash-outline" value="{{meal.id}}"
                                    class="text-dark rounded-circle border-primary bg-blue"></ion-icon>
                            </button>
                        </form>
                        {% endif %}
                    </div>
                </li>
                <hr class="bg-transparent">
                {% endif %}
                {% endif %}
                <!-- for of week list -->
                {% endfor %}
            </ul>
            {% endif %}
            {% if user.is_authenticated %}
            {% if slugday == "add" %}
            <div class="col-12 mt-3 left">
                <div class="col-6 row text-center w-100 p-2 d-flex justify-content-center pdf mt-1">
                    <form method="post" class="row col-sm form-group  text-center col-md-2 mb-1">
                        <h3>Create a Meal</h3>
                        {{ meal_form | safe }}
                        {% csrf_token %}
                        <button type="submit" class="mt-2 p-3 hvr-shrink bg-orange rounded-lg">Add Meal</button>
                    </form>
                </div>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>

    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}