{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">Day: {{slug}} </h1>
                <!-- <p class="lead">Text.</p> -->
            </div>
        </div>
        <hr>
    </div>
    <!-- weeks Column -->
    <div class="col-12 mt-3 left">
        <div class="row">
            <!-- days Lists -->
            <h2>Meals list of day: {{slug | safe}}</h2>
            {% for meals in meal %}
            <!-- list for -->
            {% if meals %}
            <div class="col-md-8">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="image-container">
                            <div class="image-flash">
                                <p class="author">day: {{ meal.day_name }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- for of week list -->
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}